language: python
dist: xenial

services:
 - xvfb

addons:
  apt:
    packages:
      - herbstluftwm
      - libxkbcommon-x11-0

matrix:
  fast_finish: true
  include:
    - env:
      - VARIANT=yaml
    - env:
      - VARIANT=tag
    - env:
      - VARIANT=dev
    - env:
      - VARIANT=tag
      - PY_VER=3.7
    - env:
      - VARIANT=dev
      - PY_VER=3.7
  allow_failures:
    - env:
      - VARIANT=dev
    - env:
      - VARIANT=tag
      - PY_VER=3.7
    - env:
      - VARIANT=dev
      - PY_VER=3.7

install:
  - wget https://repo.continuum.io/miniconda/Miniconda3-latest-Linux-x86_64.sh -O miniconda.sh;
  - bash miniconda.sh -b -p $HOME/miniconda
  - source "$HOME/miniconda/etc/profile.d/conda.sh"
  - conda activate
  - hash -r
  # Use our condarc
  - cp condarc ~/.condarc
  - conda config --set always_yes yes --set changeps1 no
  - conda install conda-build anaconda-client
  - conda update -q conda conda-build
  # Reboot conda after updating conda to avoid subtle path bugs
  - conda deactivate
  - conda activate
  # Useful for debugging any issues with conda
  - conda info -a
  - |
    if [ "$VARIANT" = "yaml" ]; then
      # Create the environment from yaml
      conda env create -q -n test-environment -f pcds.yaml
    else
      if [ "$VARIANT" = "dev" ]; then
        # Add the dev channel to be first channel
        conda config --add channels pcds-dev
      fi
      pushd scripts
      if [ -z "$PY_VER" ]; then
        timeout 10m ./create_base_env.sh test-environment
      else
        timeout 10m ./create_base_env.sh test-environment "$PY_VER"
      fi
      popd
    fi
  - conda activate test-environment
  # Check out the tests for all of our packages
  - |
    if [ "$VARIANT" = "dev" ]; then
      python test_setup.py
    else
      python test_setup.py --tag
    fi
  # Show us which test scripts exist
  - readlink -f */run_tests.py

before_script:
  # Run windows manager
  - "herbstluftwm &"
  - sleep 1

script:
  - ./run_all_tests.sh
